.movie__image {
  width: 100%;
  &-container {
    width: 500px;
    display: block;
  }
}
.slick {
  &-slider {
    height: 70vh;
    margin-bottom: 50px;
  }
  &-track {
    height: 100%;
  }
  &-list {
    height: 100%;
  }
}
.slider {
  &_container {
    height: 70vh;
    display: block;
    width: auto;
    padding: 32px;
    &_img {
      height: 100%;
      width: auto;
    }
  }
  & h2 {
    padding: 0 32px;
  }
}
