.repertoire {
  &__nav {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0 32px;
    &__title {
      font-size: 1.75rem;
    }
    &__picker {
      background-color: #fff;
    }
  }
}
.react-date-picker {
  &__wrapper {
    padding: 10px;
  }
}
@media screen and (max-width: 800px) {
  .repertoire {
    &__nav {
      flex-direction: column;
      align-items: center;
      font-size: 0.7rem;
      &__title {
        font-size: 1rem;
        margin: 5px;
      }
      &__picker {
        background-color: #fff;
        margin: 5px;
      }
    }
  }
  .react-date-picker {
    &__button {
      &__icon {
        height: 12px;
      }
    }
    &__wrapper {
      padding: 5px;
    }
  }
  .react-calendar {
    max-width: 200px;
    &__navigation {
      &__label {
        font-size: 0.6rem;
      }
      button {
        min-width: 20px;
      }
    }
    &__month {
      &-view {
        &__weekdays {
          &__weekday {
            font-size: 0.5rem;
          }
        }
        &__days {
          &__day {
            font-size: 0.5rem;
          }
        }
      }
    }
    &__year {
      &-view {
        &__months {
          &__month {
            font-size: 0.5rem;
          }
        }
      }
    }
    &__decade {
      &-view {
        &__years {
          &__year {
            font-size: 0.5rem;
          }
        }
      }
    }
    &__century {
      &-view {
        &__decades {
          &__decade {
            font-size: 0.5rem;
          }
        }
      }
    }
  }
}
