.ticket__list {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
}

.movie__view {
  &__container {
    width: 500px;
    display: block;
  &__image {
    width: 100%;
  }
}
}
