@import '../../styles/variables';
.App {
  background-color: $background-color-primary;
  color: $text-color-primary;
  &__header {
    font-size: 2rem;
  }
}
button {
  text-transform: uppercase;
  font-weight: 700;


}

input {
  border: 0;
}

.button {
  &--submit {
    border-color: #6E093A;
    border-width: 3px;
    border-style: solid;
    border-radius: 4px;
  }
}
