@import '../../styles/variables';
.App {
  background-color: $background-color-primary;
  color: $text-color-primary;
  &__header {
    font-size: 2rem;
  }
}
button {
  text-transform: uppercase;
  font-weight: 700;
}

input {
  border: 0;
  padding: 4px;
  line-height: 2;
  font-size: 16px;
  border-radius: 2px;
}

.button {
  &--submit {
    border-color: #6e093a;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 4px;
    line-height: 2;
    font-size: 16px;
    margin: 16px;
    width: 200px;
    &:hover {
      background-color: #f5d8e6;
    }
    &:active {
      background-color: #ff9dcc;
      transform: translateY(2px);
      border-color: #f5d8e6;
      outline-color: #6e093a;
    }
    &:focus {
      border-color: #6e093a;
    }
  }
  &__group {
    display: flex;
    justify-content: center;
    padding: 32px;
  }
}

.app-container {
  display: flex;
  padding: 32px;
}

a {
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

a:hover {
  transform: scale(1.03);
}

a:active {
  color: #f5d8e6;
  transform: translateY(2px);
}

a:visited {
  color: #fff;
}

a:-webkit-any-link {
  color: #fff;
}
ul {
  list-style: none;
}

.link {
  &--button-style {
    display: inline-block;
    background-color: #f1f1f1;
    color: #000;
    margin-top: 16px;
    font-weight: 700;
    border-color: #6e093a;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 8px;
    &:hover {
      transform: scale(1.03);
    }

    &:active {
      color: #f5d8e6;
      transform: translateY(2px);
    }

    &:visited {
      color: #000;
    }
  }
}

.errorBoundary {
  padding: 32px;
  & a {
    color: unset;
    padding: 0;
    font-size: 32px;
  }
}
@media screen and (max-width: 800px) {
  .button--submit {
    width: 100px;
    margin-top: 10px;
    padding: 0;
    font-size: 0.7rem;
  }
  .link {
    &--button-style {
      margin-top: 10px;
      padding: 4px;
      font-size: 0.7rem;
    }
  }
  h4 {
    font-size: 0.7rem;
  }
  h5 {
    font-size: 0.7rem;
  }
}
