.hall__seat {
  flex-grow: 1;
  min-height: 30px;
  margin: 0 5px;
  outline: none;
  border: none;
  background: green;
  color: white;
}
.occupied {
  background: grey;
}

.selected {
  background: orange;
}
