@import '../../styles/variables';
.navbar {
  padding-bottom: 32px;
  background-color: #000;
  color: #f1f1f1;
  &__list {
    display: flex;
    margin-left: auto;
  }
  &__logo {
    display: flex;
    border: 0;
  }
  font-family: $font-primary;
  font-size: $font-size-secondary;
  display: flex;
}
