@import '../../styles/variables';
.navbar {
  padding: 16px 32px;
  background-color: #000;
  color: #f1f1f1;
  &__list {
    display: flex;
    margin-left: auto;
    align-items: center;
    & button {
      border: 0;
      background-color: transparent;
      font-size: 1rem;
      color: #fff;
      font-weight: inherit;
      padding: 16px;
    }

  }
  &__logo {
    display: flex;
    border: 0;
    letter-spacing: 10px;
    line-height: 1;
  }
  font-family: $font-primary;
  font-size: $font-size-secondary;
  display: flex;
  align-items: flex-start;
}
.theme-toggler {
  background-color: transparent;
  border: none;
  padding: 0;
}
