@import '../../styles/variables';
.navbar {
  &__list {
    display: flex;
    margin-left: auto;
  }
  &__logo {
    display: flex;
  }
  font-family: $font-primary;
  font-size: $font-size-secondary;
  display: flex;
}
