* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-primary;
}

body {
  width: 100%;
  min-height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dark-mode {
  background-color: #000;
  color: #f1f1f1;
}
.light-mode {
  background-color: #f1f1f1;
  color: #333;
}
