// Fonts
$font-primary: 'Montserrat', 'Arial', sans-serif;

// rwd breakpoints
$breakpoint-xs-max: 575px;
$breakpoint-sm-max: 767px;
$breakpoint-md-max: 991px;
$breakpoint-xl-max: 1366px;
$breakpoint-xxl-max: 1600px;

// Colors
$color-primary: white;
$color-secondary: yellow;

// Text Color
$text-color-primary: black;
$text-color-secondary: aqua;

// Fonts sizes
$font-size-primary: 32px;
$font-size-secondary: 16px;

// Border
$border-radius: 16px;
