.cinema__hall {
  &__name {
    text-align: center;
    padding: 32px 0;
    text-transform: uppercase;
  }
  &__arrangement {
    width: 75%;
    padding: 32px;
    margin: 0 auto;
    background: #ddd;
    &__seats {
      margin: 0 auto;
      padding-top: 36px;
      &__row {
        display: flex;
        padding: 4px;
        align-items: center;
        &__name {
          display: block;
          min-width: 32px;
          text-align: center;
        }
      }
    }
    &__screen {
      width: 80%;
      margin: 0 auto 12px auto;
      padding: 4px 0;
      background: #000;
      color: #fff;
      text-align: center;
    }
  }
}
@media screen and (max-width: 800px) {
  .cinema__hall {
    &__name {
      padding: 16px 0;
      font-size: 0.7rem;
    }
    &__arrangement {
      width: 50%;
      padding: 16px;
      &__seats {
        padding-top: 20px;
      }

      &__screen {
        width: 60%;
        margin: 0 auto 8px auto;
        font-size: 0.7rem;
      }
    }
  }
}
