.cinema__hall {
  &__name {
    text-align: center;
    padding: 30px 0;
  }
  &__arrangement {
    width: 50%;
    padding: 30px;
    margin: 0 auto 50px;
    background: #ddd;
    &__seats {
      margin: 0 auto;
      padding-top: 40px;
      &__row {
        display: flex;
        padding: 5px;
        &__name {
          display: block;
          min-width: 30px;
          text-align: center;
        }
      }
    }
    &__screen {
      width: 80%;
      margin: 0 auto 10px auto;
      padding: 5px 0;
      background: #000;
      color: #fff;
      text-align: center;
    }
  }
}
